     <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :password %> 
    </div>

    <div class="col-md-2">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    
    <div class="col-md-5">
      <i>(leave blank if you don't want to change it)</i><br />  
    </div>

    <div class="col-md-12">
      <br>
    </div>

    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :password_confirmation %><br />
    </div>

    <div class="col-md-7">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>  
     <div class="col-md-12">
      <br>
    </div>
    
    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :current_password %> 
    </div>
    
    <div class="col-md-2">
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class = "col-md-5">
      <i>(we need your current password to confirm your changes)</i><br />
    </div>