<center><h2>Edit <%= resource_name.to_s.humanize %></h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <!-- Added by NG -->
   
    <%= fields_for :user_detail, resource.user_detail do |ud| %>
      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :address %>
      </div>

      <div class="col-md-7">
        <%= ud.text_field :address %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :city %>
      </div>
      <div class="col-md-7">
        <%= ud.text_field :city %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :pincode %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :pincode %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :phone %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :phone %>
      </div>

    <% end %>
  <!-- end -->

    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :email %><br />
    </div>

    <div class="col-md-7">
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :avatar %>
    </div>

    <div class="col-md-7">
      <%= f.file_field :avatar %>
    </div>
      
    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :password %> 
    </div>

    <div class="col-md-2">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="col-md-5">
      <i>(leave blank if you don't want to change it)</i><br />  
    </div>

    <div class="col-md-12">
      <br>
    </div>

    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :password_confirmation %><br />
    </div>

    <div class="col-md-7">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>  
     <div class="col-md-12">
      <br>
    </div>
    
    <div class="col-md-1 col-md-offset-4 center">
      <%= f.label :current_password %> 
    </div>
    
    <div class="col-md-2">
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class = "col-md-5">
      <i>(we need your current password to confirm your changes)</i><br />
    </div>

    <div class="col-md-12 center">
      <%= f.submit "Update" %>
    </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% end %>



