  <div class="col-md-3 ">
    <h3><b>Album-Name</b></h3>
  </div>
  
  <div class="col-md-4">
    <h3><%= @album.album_name %></h3>
    <hr>
  </div>

  <div class="col-md-8 color-ffeecc">
    <% @album.album_images.each do |item|%>
      <div class="col-md-3">
        <%= image_tag item.image_name_url, height: "180px", width: "180px", class: 'img-rounded' %>
      </div>
    <% end %>   
  </div>

  <div class="col-md-4 color-c2d6d6">
    <div class="col-md-1">
      <% if @friend.avatar.present? %>
        <%= image_tag @friend.avatar_url, height: "50px", width: "50px" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <p><%= @friend.name  %></p>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-12">
      <hr><hr>
    </div>

    <div id="comments">
      <% @album.comments.each do |comment| %>
        <% user = User.find_by(id: comment.user_id) %>
          <div id="com-<%=comment.id%>">
            <div class="col-md-12">
              <b><%= user.name%></b>
            </div>
          
            <div class="col-md-9 col-sm-offset-1">
              : <%= comment.comment_name%>
            </div>

            <div class="col-md-2">
              <% if comment.user_id==current_user.id %>
                <%= link_to album_comment_path(@album.id,comment.id) , method: :delete, remote: true ,  data: { confirm: 'Sure to delete comment ?'} do %>
                  <i class="fa fa-times fa-2x" aria-hidden="true" ></i>
                <% end %> 
              <% end %>
            </div>
          </div>
      <% end %>
    </div>

    <%= form_for @comment ,url: remark_album_comments_path(@album.id), method: :post, :html => { :onsubmit => "return false" } do |f| %>  
      <div class="col-md-12">
      <hr><hr>
      </div>
      <div class="col-md-12">
        <%= f.label :comments %>
      </div>

      <%= hidden_field_tag(:user_id, current_user.id) %>
      <%= hidden_field_tag(:album_id, @album.id) %>

      <div class="col-md-12 comment">
        <%= f.text_field :comment_name, required: true, class:"form-control" %>
      </div>
      <div class="col-md-12">
        <%= f.submit "Create New Comment", :onclick => "submit_btn();" %>
      </div>    
    <% end %>
  </div>