<%= form_for @user, url: update_password_path(id: @user.id) , method: :post  do |f| %>
  <div class="row color-e9e2e2">
    <div class="col-md-12 center">
      <h1>Account Help!</h1>  
    </div>
    <div class="col-md-12">
      <hr>
      <hr>
    </div>
    <div class="col-md-2 col-md-offset-4 center">
      <%= f.label :Enter_password %>
    </div>

    <div class="col-md-6">
      <%= f.password_field :password  %>         
    </div>
    <div class="col-md-12">
      <br>
    </div>
    <div class="col-md-6 col-md-offset-6">
      <%= f.submit "Upgrade Password" %>
    </div>
    <div class="col-md-12">
      <br>
    </div>
    <div class="col-md-6 col-md-offset-6">
      LogIn <%= link_to 'Click here', root_path %>
    </div>
    <div class="col-md-12">
      <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
<% end %>