<%= form_for current_user , url: {action: "create"}, method: "post"  do |f| %>
	<div class='row'>
		<div class='col-md-4'>
			<%= link_to new_album_path, title:"Create new album" do%>
		  	<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
		  <% end %>	
		</div>

		<div class='col-md-4'>		
			<h2>Albums</h2>
		</div>

		<div class='col-md-4'>		
			
		</div>		
	</div>

	<div class='row index-margin-bottom'>
		<% @albums.each do |item|%>
			<% image = item.album_images.first %>
			<div class='col-md-2'>
					
				<div class='col-md-1 col-sm-offset-7'>
					<%= link_to album_all_album_path(item.id),title:"Add More pic" do%>
		        <span class="glyphicon glyphicon-plus"></span>
		      <% end %>
				</div>

				<div class='col-md-2'>
					<%= link_to album_path(item.id), method: :delete ,title: "Remove Album", data: { confirm: 'Are you sure?' }  do %> 
						<title>Remove</title>
		        <span class="glyphicon glyphicon-remove"></span>
		      <% end %> 	
				</div>

				<div class='col-md-12'>
					<%= link_to album_comments_path(item.id) do %>
						<% if item.album_images.first.image_name.present? %>
							<%= image_tag item.album_images.first.image_name_url(:size_135_180) , class: 'img-thumbnail' %>
						<% else %>
							<%= image_tag "/uploads/", class: 'img-thumbnail' %>
						<% end %>
					<% end %>
				</div>

				<div class='col-md-12 index-margin-bottom'>
					<p><%= link_to item.album_name %></p>
				</div>
			</div>
		<% end %>
		<div class="col-md-2", style="margin-top: 70px; color: green;">
			<h3><%= link_to "View All", my_album_albums_path %></h3>
		</div>
		<div class="col-md-12">
			<%= will_paginate @albums %>
		</div>
	</div>
<% end %>


<hr>
<div class='row'>
	<div class='col-md-4 col-sm-offset-4'>		
		<h2>Friends-Albums</h2>
	</div>
	
	<div class='col-md-4'>		
	</div>
</div>

<div class='row'>
	<% @friends_albums.each do |album| %>
		<div class='col-md-2'>
			<div class="col-md-4">
				<h4><%= User.find_by(id: album.user_id).firstname %></h4>
			</div>
			
			<div class='col-md-12'> 
				<%= link_to album_comments_path(album.id) do %>
					<% if album.album_images.first.image_name.present? %>
						<%= image_tag album.album_images.first.image_name_url(:size_135_180) , class: 'img-thumbnail'	%>
					<% else %>
						<%= image_tag "/uploads/", class: 'img-thumbnail' %>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-11 col-sm-offset-1">
				<%= link_to album.album_name %>
			</div>
		</div>
	<% end %>	
	<div class="col-md-2", style="margin-top: 90px; color: green;">
		<h3><%= link_to "View All", friend_album_albums_path %></h3>
	</div>
	<div class="col-md-12">
		<%= will_paginate @albums %>
	</div>
</div>
	
