<%= form_for @album , url: album_path(@album.id), method: "put"  do |f| %>
  <div class='row'>
    <div class='col-md-12'>
      <h2><%= @album.album_name %></h2>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-2'>
      Add More Images
    </div>
  
    <div class='col-md-3'>
      <%= f.file_field :image_name, :multiple => true, :required => true %>
    </div>
  
    <div class='col-md-2'>
      <%= f.submit "Update Album" %>
    </div>
  </div>
  <br>
  <hr>
  <div class='row'>
    <% @album.album_images.each do |item|%>
      <div class='col-md-2'>    
        <div class='col-md-1 col-sm-offset-9'>
          <%= link_to destroy_pic_album_path(@album.id,pic_id: item.id),method: :delete, title: "Delete pic",data: { confirm: 'Are you sure?' }  do %>
            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>
    
        <div class='col-md-12'>          
          <%= image_tag item.image_name_url if item.image_name.present? %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>